---
layout: default
title: Projects
class: projects
weight: 70
---
<div class="hero jumbotron">
  <div class="text">This is our work</div>
</div>
<section class="section projects-section">
  <header>
    <div class="appellation">
      <i class="fa fa-cog fa-2x"></i>
      <div class="appellation-text">
        PROJECTS
      </div>
    </div>
  </header>
  <div class="separator"></div>

  <div class="gradient-background section-padding">
    <div class="row community-entries">
      {% for entry in site.data.projects %}
        {% include project-item.html %}
      {% endfor %}
    </div>
  </div>
</section>

