---
layout: default
title: SKGTech - Startups in Thessaloniki
---
<section class="row page-header">
    <div class="startups">
    <div class="container">
        <h4>STARTUPS OF THESSALONIKI</h4>
    </div>
</div>
</section>

<div class="page-wrapper row">

<section class="row gallery-content">
    <div class="container">
        <div class="row sectionTitle text-center">
            <h6 class="label label-default">STARTUPS OF THESSALONIKI</h6>
            <h3>AN UP-TO-DATE CATALOG OF STARTUPS IN OUR CITY</h3>
            <p>Want to see your startup here? <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1VvhUtoo8x_CJf_zUalpAF8VThT7I4UJhphPg6BdtJwct9Q/viewform">Get to fill the form</a></p>
        </div>

        <!-- <div class="row m0 filters_row">
            <ul class="gallery-filter causes-filter nav pull-left">
                <li data-filter class="active">ALL</li>
                {% assign startups = site.data.startups %}
                {% for s in startups %}
                    <li data-filter=".{{ s.industry }}">{{ s.industry }}</li>
                {% endfor %}
            </ul>

        </div> -->

        <div class="row">
            <div class="causes_container popup-gallery">
                <div class="grid-sizer"></div>

                {% assign startups = site.data.startups | sort: "company" %}
                {% for s in startups %}
                <div class="col-sm-12 cause-item list-item {{ s.industry }}">
                    <div class="images_row pull-left">
                        <a href="{{ s.url }}"><img src="/assets/img/startups/{{ s.logo }}" alt="">
                    </div>
                    <div class="cause_excepts pull-left">
                        <h4 class="cuase_title"><a href="{{ s.url }}">{{ s.name }}</a></h4>
                        <p>{{ s.description }}</p>
                        <br><p><strong>CEO:</strong> <a href="mailto:{{ s.ceoEmail }}">{{ s.ceo }}</a></p>
                        {% if s.cto %}
                        <p><strong>CTO:</strong> <a href=" mailto:{{ s.ctoEmail }}">{{ s.cto }}</a></p>
                        {% endif %}
                    </div>
                    <div class="fund_raise_info pull-left">
                        <div class="row fund_raises m0">
                            <div class="pull-left raised amount_box">
                                <h6>Founded</h6>
                                <h3>{{ s.yearFounded | date: "%b %Y" }}</h3>
                            </div>
                            <div class="pull-left goal amount_box">
                                <h6>Stage</h6>
                                <h3>{{ s.stage }}</h3>
                            </div>
                            <div class="pull-left raised amount_box">
                                <h6>Funding</h6>
                                <h3>{{ s.funding }}</h3>
                            </div>
                            <div class="pull-left raised amount_box">
                                <h6>industry</h6>
                                <h3>{{ s.industry }}</h3>
                            </div>
                            <div class="pull-left raised amount_box">
                                <h6>team size</h6>
                                <h3> {{ s.teamSize }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <ul class="gallery-pagination list-unstyled">
                <li class="prev"><a href="#">prev</a></li>
                <li class="page-no first-no active"><a href="#">1</a></li>
                <li class="page-no last-no"><a href="#">2</a></li>
                <li class="next"><a href="#">next</a></li>
            </ul> -->
        </div>
    </div>
</section>

{% include newsletter.html %}
{% include footer-skgtech-info.html %}
