---
layout: page
---
{% include JB/setup %}
<div id="hello">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8 col-lg-offset-2 centered">
    			<h1>SKG Tech</h1>
    			<h2>THESSALONIKI DEVELOPERS & TECHIES</h2>
          <p>This is <a href="{{ site.githubrepo }}">an open website</a> about the community of Thessaloniki's developers and techies. Meet the community and find out about upcoming events and meetups.</p>
    		</div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-4 centered share">
          <ul class="nav">
            <li>
              <a href="https://twitter.com/share" data-url="http://skgtech.io/" data-text="Thessaloniki Upcoming Events and Meetups" data-size="medium" via="SKG_Tech" related="SKG_Tech" class="twitter-share-button">Tweet</a>
            </li>
            <li>
              <a href="https://twitter.com/SKG_Tech" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @SKG_Tech</a>
            </li>
            <li>
              <div data-action="share" data-annotation="bubble", data-href="http://skgtech.io" class="g-plus"></div>
            </li>
            <li>
              <div class="fb-like" data-href="https://www.facebook.com/skgtech.io" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-width="200"></div>
            </li>
          </ul>
        </div>
    	</div>
    </div>
</div>
<div id="fb-root"></div>


<div id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
	       <h3>THESSALONIKI MEETUP AGENDA</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 calendar-link">
        <a target="_blank" href="https://www.google.com/calendar/embed?src=2ul10sd9g30mnk1vpmcnnp5qv4%40group.calendar.google.com&ctz=Europe/Athens">Powered by Google Calendar</a> | <a target="_blank" href="https://www.google.com/calendar/feeds/2ul10sd9g30mnk1vpmcnnp5qv4%40group.calendar.google.com/public/basic">RSS</a> | <a target="_blank" href="https://www.google.com/calendar/ical/2ul10sd9g30mnk1vpmcnnp5qv4%40group.calendar.google.com/public/basic.ics">iCal</a>
      </div>
    </div>
    <div id="agenda-items">
      <div class="row">
      	<div class="col-lg-10">
      	  <img src="/assets/img/loader-bar.gif" />
	</div>
      </div>
    </div>
    <div class="row">
      {% unless site.data.pinnedAgenda.empty? %}
        {% for item in site.data.pinnedAgenda %}
          {% capture rowIterer %}{% cycle 1, 2 %}{% endcapture %}
          <div class="col-lg-5">
            {% include widgets/agenda.html item=item %}
          </div>
          {% if '2' == rowIterer %}
          </div>
          <div class="row">
          {% endif %}
        {% endfor %}
      {% endunless %}
    </div>
  </div>
</div>

<div class="hide" id="agenda-tpl">
  <div class="col-lg-5">
    <div class="panel panel-danger">
      <div class="panel-heading">
	      <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <ul>
      	  <li class="agenda-tpl-when"><b>When</b>: <span></span></li>
      	  <li class="agenda-tpl-venue"><b>Venue</b>: <span></span></li>
      	  <li class="agenda-tpl-address">
      	    <b>Address</b>: <span></span>
      	  </li>
      	  <li class="agenda-tpl-info"><b>More Info</b>: <a href="" target="_blank"></a></li>
        </ul>
        <div class="cal-btns">
          <a class="glyphicon glyphicon-plus addcal" title="Add the event to your Google Calendar" href="" target="_blank" rel="nofollow"></a> <a class="glyphicon glyphicon-share-alt viewcal" title="View the event at Google Calendar" href="" target="_blank" rel="nofollow"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hide" id="agenda-error">
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">Oh Snap! Something went horribly wrong :( Please refresh!</div>
    </div>
  </div>
</div>
<div id="communities">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
        <h3>THESSALONIKI TECH COMMUNITIES</h3>
      </div>
    </div>
    <div class="row">
      {% for meetup in site.data.communities %}
        {% capture rowIter %}{% cycle 3, 4 %}{% endcapture %}
        <div class="col-lg-5">
          {% include widgets/meetup.html meetup=meetup %}
        </div>
        {% if '2' == rowIter %}
        </div>
        <div class="row">
        {% endif %}
      {% endfor %}
    </div>
	</div>
</div>

<div id="contact">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-10">
        <h3>STAY IN TOUCH</h3>
        <p><a href="https://groups.google.com/forum/#!forum/skg-developers">Signup on the mailing list</a></p>
        <p><a href="https://docs.google.com/forms/d/15OfvYWpwuFXW-zOMOWFoYR6skHUNqzEdJts5hWtcL08/viewform">Submit your Meetup</a></p>
        <p class="social">
          <a href="https://facebook.com/skgtech.io"><i class="fa fa-facebook"></i></a>
        </p>
        <p class="social">
          <a href="https://twitter.com/SKG_Tech"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
