---
layout: page
---
{% include JB/setup %}
<div id="hello">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8 col-lg-offset-2 centered">
    			<h1>SKG Tech</h1>
    			<h2>THESSALONIKI DEVELOPERS & TECHNOLOGISTS</h2>
          <p>This is <a href="{{ site.githubrepo }}">an open website</a> about the community of Thessaloniki's developers and technologists. Meet the community and find out about upcoming events and meetups.</p>
    		</div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered share">
          <script type="text/javascript">
            // twitter
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            // Google+
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
          <span>
            <a href="https://twitter.com/share" data-url="http://skgtech.io/" data-text="Thessaloniki Upcoming Events and Meetups" data-size="medium" via="SKG_Tech" related="SKG_Tech" class="twitter-share-button">Tweet</a>
          </span>
          <span>
            <a href="https://twitter.com/twitterapi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @SKG_Tech</a>
          </span>
          <span>
            <div data-action="share" data-annotation="bubble", data-href="http://skgtech.io" class="g-plus"></div>
          </span>
        </div>
    	</div>
    </div>
</div>


<div id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h3>THESSALONIKI MEETUP AGENDA</h3>
      </div>
    </div>
    <div class="row">
      {% for item in site.data.agenda %}
        {% capture rowIter %}{% cycle 1, 2 %}{% endcapture %}
        <div class="col-lg-5">
          {% include widgets/agenda.html item=item %}
        </div>
        {% if '2' == rowIter %}
        </div>
        <div class="row">
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


<div id="meetups">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
        <h3>MEETUPS IN THESSALONIKI</h3>
      </div>
    </div>
    <div class="row">
      {% for meetup in site.data.meetups %}
        {% capture rowIter %}{% cycle 1, 2 %}{% endcapture %}
        <div class="col-lg-5">
          {% include widgets/meetup.html meetup=meetup %}
        </div>
        {% if '2' == rowIter %}
        </div>
        <div class="row">
        {% endif %}
      {% endfor %}
    </div>
	</div>
</div>

<div id="contact">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-10">
        <h3>STAY IN TOUCH</h3>
        <p><a href="https://groups.google.com/forum/#!forum/skg-developers">Signup on the mailing list</a></p>
  		</div>
  	</div>
  </div>
</div>
