.who_we_are{
    .label{
        margin-bottom: 37px;
    }
    h3{
        margin-bottom: 35px;
        margin-top: 0;
    }

    p.about_var{
        font-size: 21px;
        min-height: auto;
    }
    p{
        font-size: 16px;
        margin-bottom: 25px;
    }
    a {
        color: $green;
        &:hover {
            text-decoration: underline;
        }
    }
}

.history{

    font: 15px/1.8 $karla;
    color: #5D5D5D;
    font-weight: 200;

    .label{
        margin-bottom: 37px;
    }


}

.history_carousel{
    position: relative;
    .item{
        padding: 38px 38px 120px;
        .year{
            font-family: $montserrat;
            font-weight: 700;
            line-height: 1;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        p{
            font-size: 16px;
            margin-bottom: 0;
            & + p{
                margin-top: 25px;
            }
        }
    }

    .owl-nav{
        position: absolute;
        left: 38px;
        bottom: 40px;
        border: 1px solid;
        border-radius: 3px;
        width: 89px;
        height: 40px;
        .owl-prev,
        .owl-next{
            width: 50%;
            float: left;
            text-align: center;
            line-height: 38px;
            font-size: 21px;
        }
        .owl-prev{}
        .owl-next{
            border-left: 1px solid;
        }
    }
}

.mission_vision{
    padding: 30px 0 50px;
    i{
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 30px;
    }
    h5{
        margin: 0 0 20px;
        text-transform: uppercase;
        font-family: $montserrat;
        font-weight: 700;
        line-height: 1;
    }
    p{
        font-size: 16px;
        margin-bottom: 0;
    }
}

.acknowledgements-body {
    margin-top: 30px;
    margin-bottom: 100px;
    a{
        color: $green;
    }
}
