.who_we_are{
    .label{
        margin-bottom: 37px;
    }
    h3{
        margin-bottom: 35px;
        margin-top: 0;
    }
    
    p.about_var{
        font-size: 21px;
        min-height: auto;
    }
    p{
        font-size: 16px;
        margin-bottom: 25px;
    }
}

.history{
    .label{
        margin-bottom: 37px;
    }
}

.history_carousel{
    position: relative;
    .item{
        padding: 38px 38px 120px;
        .year{
            font-family: $montserrat;
            font-weight: 700;
            line-height: 1;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        p{
            font-size: 16px;
            margin-bottom: 0;
            & + p{
                margin-top: 25px;
            }
        }
    }
    
    .owl-nav{
        position: absolute;
        left: 38px;
        bottom: 40px;
        border: 1px solid;
        border-radius: 3px;
        width: 89px;
        height: 40px;
        .owl-prev,
        .owl-next{
            width: 50%;
            float: left;
            text-align: center;
            line-height: 38px;
            font-size: 21px;
        }
        .owl-prev{}
        .owl-next{
            border-left: 1px solid;
        }
    }
}

.mission_vision{
    padding: 100px 0 150px;
    i{
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 30px;
    }
    h5{
        margin: 0 0 20px;
        text-transform: uppercase;
        font-family: $montserrat;
        font-weight: 700;
        line-height: 1;
    }
    p{
        font-size: 16px;
        margin-bottom: 0;
    }
}

.how-fund-help-children{
    margin: 100px 0 0;
    padding: 45px;
	@media (max-width: 479px){
		padding: 25px;
	}
    h3{
        margin: 0;
        font: 700 23px/30px $montserrat;
        text-transform: uppercase;
        float: left;
        max-width: 540px;
		@media (max-width: 1199px){
			max-width: 500px;
		}
		@media (max-width: 991px){
			max-width: 100%;
		}
    }
    a{
        margin-top: 10px;
		@media (max-width: 991px){
			float: left !important;
		}
    }
    a + a{
        margin-right: 20px;
		@media (max-width: 991px){
			margin-right: 0;
			margin-left: 20px;
		}
		@media (max-width: 479px){
			margin-left: 0;
		}
    }
}