.featured_projects{
    .owl-dots{
        .owl-dot{
        }
    }
}

.featured_porduct_box{
       
    .label{
    }
    .rating{
        line-height: 28px;
        padding-left: 12px;
        i{
            &.starred{
            }
        }
    }
    
    .btn-group{
        .btn{
            border: 1px solid;
            padding: 0 15px;
            font: 700 18px/43px $montserrat;
        }
        .btn-primary{
            font-size: 13px;
        }
    }
}