.navbar{
    padding: 23px 0;
    
    border: none;
    box-shadow: none;
    margin: 0;
    @include transition;
    .container{
        .navbar-header{
			.navbar-toggle{
				border-radius: 0;
				margin-top: 5px;
				margin-bottom: 5px;
				&[aria-expanded="false"]{
					background: $dark;
					border-color: $dark;
					span{
						background: $green;
					}
				}
				&[aria-expanded="true"]{
					margin-bottom: 20px;
					background: $green;
					border-color: $green;
					span{
						background: $dark;
					}
				}
			}
            .navbar-brand{
                margin-left: 0;
				@media (max-width: 767px){
					margin-left: 15px;
				}
                img{
                    max-height: 37px;
                }
            }
        }
    }
    
    .navbar-header{
        
    }
    
    &.affix{
        position: fixed;
        top: 0;
        width: 100%;
        padding: 10px 0;
        & + header,& + section{
            margin-top: 91px;
        }
    }
    &.affix-bottom{
        position: absolute;
        width: 100%;
    }
}

.navbar-brand{
    line-height: 45px;
    padding: 0;
    display: block;
    height: auto;
    img{
        display: inline;
    }
}

#mainNav{
	@media (max-width: 767px){
		max-height: 250px;
	}
    .navbar-nav{
        margin-right: 10px;
		@media (max-width: 991px){
			margin-right: -15px;
		}
		@media (max-width: 767px){
			margin-top: 0;
			margin-bottom: 0;
		}
        li{
            a{
                padding: 0 20px;
                font: bold 13px/45px $montserrat;
                text-transform: uppercase;
                text-shadow: none;
				@media (max-width: 1199px){
					padding: 0 15px;
				}
				@media (max-width: 767px){
					line-height: 35px;
				}
                &:focus{
                    background: none;
                    box-shadow: none;
                }
                & + ul{
                    border: none;
                    padding: 15px;
                    border-radius: 0;
                    min-width: 254px;
                    left: 0;
                    box-shadow: 0px 2px 5px 0px rgba(125, 140, 159, 0.46);
                    @media (min-width: 1025px){
                        display: block;
                        transform: scale(1,0);
                        transform-origin: top;
                        @include transition;
                        transition-duration: 200ms;
                    }
                    li{
                        padding: 0;
                        position: relative;
                        a{
                            font: 700 13px/48px $montserrat;
                            &:hover,&:focus{
                                background: none;
                                box-shadow: none;
                            }
                            & + ul{
                                @media (min-width: 1025px){
                                    transform: scale(0,1);
                                    transform-origin: left;
                                    position: absolute;
                                    left: 100%;
                                    top: 0;
                                }
                                li{                                        
                                    a{
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:hover,&:focus,&.open{
                &>a{
                    background: none;
                    box-shadow: none;
                    
                    & + ul{
                        @media (min-width: 1025px){
                            transform: scale(1,1);
                        }
                        li{
                            a{
                                & + ul{
                                    @media (min-width: 1025px){
                                        transform: scale(0,1);
                                    }
                                }
                            }
                            &:hover,&.active,&.open{
                                a{
                                    & + ul{
                                        @media (min-width: 1025px){
                                            transform: scale(1,1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.active{
                a{
                    background: none;
                    box-shadow: none;
                    
                    & + ul{
                        @media (min-width: 1025px){
                        }
                        li{
                            a{
                                
                            }
                            &:hover,&.active,&.open{
                                a{
                                    & + ul{
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.header1{
    padding: 30px 0;
    
}
.logo{
    a{
        display: block;
        float: left;
        line-height: 45px;
        img{
            max-height: 37px;
        }
    }
}

.language_picker{
    margin-left: 25px;
    padding: 6px 0;
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: auto;
    }
    .btn-group{
        text-transform: uppercase;
        .btn{
            background: none;
            box-shadow: none;
            text-transform: uppercase;
            
            font: 700 13px/30px $montserrat;
            padding: 0 12px;
            outline: none;
            border-radius: 2px;
            &:focus{
                outline: none;
            }
            .filter-option{
                width: auto;
            }
            .bs-caret{
                margin-left: 12px;
            }
            .caret{
                position: relative;
                margin-left: 0;
                right: 0;
                border-width: 3px 3px 0 3px;
            }
        }
    }
	.dropdown-menu{
		z-index: 1100;
	}
}

.emergency-contact{
    .pull-left{
        padding-right: 20px;
        text-transform: uppercase;
        & + .pull-left{
            border-left: 1px solid;
            padding-right: 25px;
            padding-left: 20px; 
            h5{
                font-size: 18px;
            }
        }
        span{
            display: table-cell;
            font-size: 30px;
            
            padding-right: 12px;
            &.rotate{
                i{
                    transform: rotate(24deg);
                }
            }
        }
        .infos_col{
            display: table-cell;
            vertical-align: middle;
        }
        h6{
            font-family: $montserrat;
            font-size: 11px;
            
            margin: 0;
            line-height: 1.25;
        }
        h5{
            font-family: $montserrat;
            font-weight: 700;
            
            margin: 0;
            line-height: 1.25;
        }
        h4{
            font-family: $montserrat;
            font-weight: 700;
            
            margin: 0;
            line-height: 1.25;
        }
    }
}

/*TopBar*/
.topbar{    
    text-transform: uppercase;    
    font: 12px/50px $montserrat;
	.welcome-notice{
		@media (max-width: 479px){
			width: 100%;			
		}
	}
    a{        
    }
    .nav{
		@media (max-width: 767px){
			margin: 0;
		}
		@media (max-width: 479px){
			width: 100%;
		}
        li{
			@media (max-width: 767px){
				float: left;
			}
            a{
                padding: 0 15px;
                line-height: 50px;                
                font-weight: 700;
                text-shadow: none;
				@media (max-width: 767px){
					width: 53px;
					height: 50px;
				}
                i{
                    margin-right: 12px;
                    font-size: 14px;
					@media (max-width: 767px){
						width: 53px;
					}
                }
                &:hover,&:focus{
                    
                    box-shadow: none;
                }
            }
            &.search_form_trigger{
                a{
                    
                }
            }
            &.search-form{
                form{
                    position: relative;                    
                    
                    .form-control{
                        line-height: 50px;
                        padding: 0 15px;
                        background: transparent;
                        border: none;
                        height: 50px;
                        box-shadow: none;
                        font-weight: normal;
                        font-size: 12px;
                        width: 53px;
                        @include transition;
                        &::-moz-placeholder {
                            color: transparent;
                            opacity: 1;
                            @include transition;
                        }
                        &:-ms-input-placeholder {
                            color: transparent;
                            @include transition;
                        }
                        &::-webkit-input-placeholder {
                            color: transparent;
                            @include transition;
                        }
                        &:focus{
                            box-shadow: none;
                            width: 300px;
							@media (max-width: 479px){
								width: 224px;
							}
							@media (max-width: 359px){
								width: 184px;
							}
                            &::-moz-placeholder {
                                
                                opacity: 1;
                            }
                            &:-ms-input-placeholder {
                                
                            }
                            &::-webkit-input-placeholder {
                                
                            }
                        }
                    }
                    .input-group-addon{
                        position: absolute;
                        padding: 0;
                        box-shadow: none;
                        background: transparent;
                        border: none;
                        border-radius: 0;
                        font-size: 16px;
                        
                        right: 0;
                        display: block;
                        width: 53px;
                        height: 50px;
                        text-align: center;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}

.navbar-form{
    width: 256px;
    margin: 0;
    padding: 0;
    .form-group{
        width: 203px;
        display: block;
        float: left;        
    }    
    .form-control{
        line-height: 50px;
        padding: 0 15px;        
        border: none;
        height: 50px;
        box-shadow: none;
        font-weight: 700;
        font-family: $montserrat;
        font-size: 13px;
        width: 100%;
        border-radius: 0;
        @include transition;
        &::-moz-placeholder {
            
            opacity: 1;
            @include transition;
        }
        &:-ms-input-placeholder {
            
            @include transition;
        }
        &::-webkit-input-placeholder {
            
            @include transition;
        }
        &:focus{
            box-shadow: none;
            
            
            font-weight: 300;
            &::-moz-placeholder {
                
                opacity: 1;
            }
            &:-ms-input-placeholder {
                
            }
            &::-webkit-input-placeholder {
                
            }
        }
    }
    button{        
        padding: 0;
        box-shadow: none;
        border: none;
        border-radius: 0;
        font-size: 16px;
        
        width: 53px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        
        text-shadow: none;
        i{}
        &:hover,&:focus{
            
            
        }
    }
}