.latest_news{
    padding: 102px 0 120px;    
    .sectionTitle{
        margin-bottom: 50px;
    }
}

.latest-post{
    padding: 15px;
	@media (max-width: 767px){
		max-width: 400px;
		margin: 0 auto;
	}
    .featured_cont{
        max-height: 163px;
        position: relative;
        img{
            max-width: 100%;
        }
        i{
            position: absolute;
            font-size: 36px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .post-title{
        font-family: $montserrat;
        line-height: 21px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 20px;
        a{            
            &:hover,&:focus{
            }
        }
    }
    .post-meta{
        font-family: $montserrat;
        line-height: 21px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin: 0 0 15px;        
        a{            
            display: inline-block;
            &:hover,&:focus{                
            }
            & + a{
                margin-left: 15px;
            }
        }
        .tag-name + .tag-name{
            margin-left: 0px;
        }
    }
    .post-excerpts{
        font: 15px/24px $karla;
        margin-bottom: 20px;
    }
    
    &.media{
        padding: 30px 0;
        &:first-child{
            padding-top: 0;
        }
        & + .media{
            margin-top: 0;
            border-top: 1px solid;
        }        
        .featured_cont{
            padding-left: 30px;
			@media (max-width: 767px){
				display: block;
				padding: 20px 0 0;
				max-height: none;
			}
            a{
                display: block;
                width: 263px;
                height: 163px;
                position: relative;
				@media (max-width: 767px){
				}
            }
        }
        .post-title{
            margin-top: 0;
            line-height: 27px;
        }
        .post-meta{
            margin: 0 0 20px;
        }
        .post-excerpts{
            margin-bottom: 25px;
        }
    }
}