.recent_products{
    padding: 78px 0 98px;
    .sectionTitle{
        margin-bottom: 40px;
    }
}

.recent_product_carosel{
	@media (max-width: 699px){
		max-width: 360px;
		margin: 0 auto;
	}
    .owl-dots{
        display: table;
        position: relative;
        margin: 13px auto 0;
        .owl-dot{            
            width: 12px;
            height: 12px;
            border-radius: 100%;
            float: left;
            & + .owl-dot{
                margin-left: 8px;
            }
            &.active{
                background: $dark;
            }
        }
    }
}