.sponsor_banner{
    padding: 125px 0 145px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/sponsors.jpg) repeat fixed center center;
        opacity: .10;
        z-index: 0;
    }
    
    .sectionTitle{
        h3{
            
        }
    }
    
    .container{
        max-width: 570px;
        position: relative;
        z-index: 1;
    }
    p{
        font: 16px/24px $karla;        
        margin: 22px 0 40px;
    }
    
    .btn-primary{
        & + .btn-primary{
            margin-left: 18px;
			@media (max-width: 479px){
				margin-left: 0;
				margin-top: 10px;
			}
        }
    }
    &.style2{
        &:before{
            opacity: 0.9;
            background-image: url(http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/world-map2.png);
        }
        .container{
            max-width: 460px;
        }
        p{            
        }
    }
}