.team_members_row{
    margin-bottom: 80px;
}

.board_head{
    position: relative;
	@media (max-width: 767px){
		text-align: center;
		margin-bottom: 30px;
	}
	img{
		@media (max-width: 767px){
			display: inline-block;			
		}
	}	
    .memberIntro{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;        
        padding: 20px;
        text-transform: uppercase;
    }
    h3,
    h6{
        margin: 0;
        font-family: $montserrat;
        line-height: 30px;
        font-weight: 700;
    }
    h3{
    }
    h6{
        line-height: 1.2;
    }
}

.team_page_title{
    font-family: $montserrat;
    font-weight: 700;
    line-height: 1;
    margin: 10px 0 15px;
    text-transform: uppercase;
}
.team_page_para{
    font: 21px/30px $karla;
    color: $ashDark;
    letter-spacing: -0.1px;
    min-height: 100px;
    margin-bottom: 0;
    &.about_var{        
        min-height: auto;
    }
}

.team_member{
    height: 273px;
    padding: 15px;
    text-transform: uppercase;
	@media (max-width: 1199px){
		height: auto;
	}
	@media (max-width: 767px){
		min-height: 220px;
	}
	@media (max-width: 479px){
		width: 50%;
//		height: 240px;
	}
	&.col-md-2{
		height: auto;
//		@media (max-width: 991px){
//			height: auto;
//		}
	}
    h4{
        font: 16px/1 $montserrat;
        margin: 20px 0 15px;
        font-weight: 700;
		@media (max-width: 767px){
			font-size: 14px;
			margin-bottom: 10px;
		}
    }
    h6{        
        font: 11px/1 $montserrat;
        font-weight: 700;
        margin: 0;
    }
}

.volunteer_row{
    margin-bottom: 60px;
}