$montserrat: 'Montserrat', sans-serif;
$karla: 'Karla', sans-serif;
$lora: 'Lora', serif;

$green: #1EBF92;
$dark: #435061;
$lightDark: #7f8b99;
$ashDark: #91a1b4;
$ashLight: #637285;

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay;
}
