.volunter-about{
    .h1{
        line-height: 30px;
        margin-bottom: 25px;
        &.whyQ{
            margin-bottom: 45px;
        }
    }
    .this-para{
        font: 21px/30px $karla;        
        margin-bottom: 20px;
    }
    .cover{
        margin-bottom: 20px;
    }
    .desc{
        margin-bottom: 35px;
        p{
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
}

.whyNeed{
    & + .whyNeed{
        margin-top: 35px;
    }
    .media-left{
        padding-right: 15px;
        i{
            width: 93px;
            height: 93px;
            line-height: 93px;
            text-align: center;
            font-size: 26px;
            border-radius: 100%;
        }
    }
    .media-body{
        vertical-align: middle;
        p{
            font-size: 16px;
            margin: 0;
        }
    }
}

.emmergencyContact{
    margin-top: 70px;
    .contact_Col{
        padding: 30px 30px 35px;        
        font: 700 14px/24px $montserrat;
        text-transform: uppercase;
		@media (max-width: 1199px){
			padding: 25px;
		}
        &:last-child{
            padding-right: 51px;
			@media (max-width: 1199px){
				padding-right: 25px;
			}
        }
    }
}

.become_volunteer{
    padding: 32px 40px 36px;
	@media (max-width: 1199px){
		padding: 25px;
	}
    .h1{
        margin-bottom: 0;
        line-height: 30px;
    }
    .h2{
        margin-bottom: 30px;
        line-height: 30px;
    }
    label{
        text-transform: uppercase;
        font-family: $montserrat;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .form-group{
        margin-bottom: 20px;
    }
    .form-control{
        border-radius: 2px;
        box-shadow: none;
        height: 40px;
        &+ label{
            font-size: 12px;
            margin-bottom: 0;
            margin-top: 5px;
        }
    }
    .btn-primary{
        margin-top: 5px;
    }
}