{% assign currentmod = forloop.index0 | modulo:3 %}

{% assign index = forloop.index0 %}
{% capture rowIter %}{% cycle 3, 4 %}{% endcapture %}

{% if forloop.first %}
<div>
{% endif %}
<article class="communities-entry communities-entry-{{ currentmod }}">
  <img src="{{ community.image }}" alt="{{ community.title }}" />
  <div class="overlay">
    <div class="background"></div>
    <div>
      <div class="title">
        {{ community.name }} - {{ index }}
      </div>
      <a href="#" class="more-info">
          More info
      </a>
    </div>
  </div>
</article>

{% if '2' == rowIter %}
</div>
<div>
{% endif %}

{% if forloop.last and rowIter == '1' %}
</div>
{% endif %}
