.beVolunteerBox{
    background: #fff;
    p{
        color: $ashLight;
    }
}

.beVolunteer2{
    background: $dark;
    h3{
        color: #fff;
    }
    p{
        color: #a5b5ca;
    }    
}