.donation_donors{
    background: #e8ecf2;
}

.progress_barBox{
    background-color: #d8dfe9;
    .progress{
        background: $dark;
    }
}

.valuable_donorsTitle{
    color: $dark;
}

.donor{
    .inner{
        background: #fff;
        .name{
            color: $dark;
        }
        .amount{
            color: #6e7c90;
        }
    }
    
    &.style2{
        .inner{
            background: #f1f4f8;
        }
    }
}

.progressBarRow2{
    background: #fff;    
    .texts2desc{
        h4{
            color: $dark;
        }
    }
}
    
.progress_col{
	@media (max-width: 991px){
		background: #e8ecf2;
	}
    .circle4progress{
        background: #e8ecf2;
    }
}

.progress_circular{
    border-color: #cfd7e2;
    background: #fff;
    .progress-bar{
        background: $green;
    }
    .percentage{
        color: darken(desaturate(adjust-hue($green, -0.0286), 4.0123), 10.5882);
    }
}