<footer class="row foooter footer2">

    <div class="row copyright-area m0">
        <div class="container">
            <div class="copy-inner row">
                <div class="col-sm-7 copyright-text">&copy; {{ site.time | date: '%Y' }} <a href="https://github.com/skgtech/skgtech.github.io/graphs/contributors">SKGTech Contributors</a>, source under the <a href="https://opensource.org/licenses/MIT">MIT License.</a></div>
                <div class="col-sm-5 footer-nav">
                    <ul class="nav">
                        <li><a href="https://github.com/skgtech/skgtech.github.io/">View source &amp; contribute</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
