<footer class="row foooter footer2">
    <div class="container">
        <div class="row footer-sidebar">
            <div class="widget widget-about col-sm-6 col-md-4">
                <img src="images/skgtech-logo.png"</img>
                <p>SKGTech is a non profit organization comprised of creative and passionate people that love all things tech.</p>
                <a href="about.html" class="btn-primary btn-outline">know more</a>
            </div>
            <div class="widget widget-contact col-sm-6 col-md-4 col-md-offset-4">
                <h5 class="widget-title">SKGTech</h5>
                <address>
                    Non Profit Organization<br>
                    VAT: EL997312737<br>
                    25is Martiou 48, Evosmos, 56224 Thessaloniki, Greece
                    <br><br>
                    <span>Email</span> : <a href="mailto:hello@skgtech.io">hello@skgtech.io</a>
                </address>
            </div>
        </div>
    </div>

    <div class="row copyright-area m0">
        <div class="container">
            <div class="copy-inner row">
                <div class="col-sm-7 copyright-text">© 2016 <a href="#">SKGTech Contributors</a>, source under the <a href="#">MIT License.</a></div>
                <div class="col-sm-5 footer-nav">
                    <ul class="nav">
                        <li><a href="#">View source &amp; contribute</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
