<div id="wrap">
  <header id="header">
    <div id="brand">
      <a href="/"><img src="/assets/img/skgtech-logo.png"/ alt="SKGTech Logo"></a>
    </div>
    <nav>
      <div class="item calendar">
        <a href="/#calendar">Calendar</a>
      </div>
      <div class="item communities">
        <a href="/#communities">Communities</a>
      </div>
      <div class="item projects">
        <a href="/projects">Projects</a>
      </div>
      <div class="item about">
        <a href="/about">About</a>
      </div>
    </nav>
  </header>
