<div class="container">
  <header class="row" id="header">
    <nav class="navbar">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/assets/img/skgtech-logo.png" alt="SKGTech Logo">
        </a>
      </div>
      <div class="nav pull-right navbar-nav">
          <a class="item1" href="/#calendar">Calendar</a>
          <a class="item2" href="/#communities">Communities</a>
          <a class="item3" href="/people">People</a>
          <a class="item4" href="/projects">Projects</a>
          <a class="item5" href="/about">About</a>
      </div>
    </nav>
  </header>
