<header class="" id="header">
  <nav class="navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed responsive-button" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/img/skgtech-logo.png" alt="SKGTech Logo">
      </a>
    </div>
    <div id="main-menu" class="nav pull-right navbar-nav collapse navbar-collapse main-menu">
        <a class="item1" href="/#calendar">Calendar</a>
        <a class="item2" href="/#communities">Communities</a>
        <a class="item3" href="/people">People</a>
        <a class="item4" href="/projects">Projects</a>
        <a class="item5" href="/about">About</a>
    </div>
  </nav>
</header>
