<!-- Newsletter -->
<section class="row newsletter-signup style2">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>STAY IN TOUCH</h4>
                <p>We only send a few e-mails per year.</p>
            </div>
            <form class="col-sm-7 form-inline newsletter-signup-form style2">
                <input type="text" class="form-control" placeholder="Name">
                <input type="email" class="form-control" placeholder="Email Address">
                <input type="submit" value="submit" class="btn-primary white">
            </form>
        </div>
    </div>
</section>
