<!-- Newsletter -->
<section class="row newsletter-signup style2">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>STAY IN TOUCH</h4>
                <p>We only send a few e-mails per year.</p>
            </div>
            <form id="mc-embedded-subscribe-form" class="col-sm-7 form-inline newsletter-signup-form style2" action="//datablaster.us2.list-manage.com/subscribe/post?u=249dbe460c3c1857a489dde05&amp;id=b926e92856" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <input type="text" class="form-control" placeholder="Name" id="mce-NAME" name="MERGE1">
                <input type="email" class="form-control" placeholder="Email Address" id="mce-EMAIL" name="EMAIL">
                <button type="submit" class="btn-primary white" data-complete-text="Done!" id="mc-embedded-subscribe">Go</button>
                <div class='newsletter-error'></div>
            </form>

        </div>
    </div>
</section>
