{% assign currentmod = forloop.index0 | modulo:3 %}

{% if entry.status == 'Completed' %}
  {% assign status = 'done' %}
{% else %}
  {% assign status = 'running' %}
{% endif %}

<article class="projects-entry projects-entry-{{ currentmod }} col-md-4">
  <div class="row">
    <div class="col-xs-3">
      <img src="{{ entry.img }}" alt="{{ entry.title }}" width="100%" />
    </div>
    <div class="col-xs-8">
      <div class="project-name">
        <a href="{{ entry.link }}" target="_blank" title="{{ entry.title }}" class="title">
          {{ entry.title }}
        </a>
      </div>
      <div class="status {{ status }}">
        {{ entry.status }}
      </div>
    </div>
  </div>

  {% if status == 'done' %}
    <div class="year">
      {{ entry.year }}
    </div>
  {% else %}
    <a href="{{ entry.link }}" class="link {{ status }}">
      Click here to help
    </a>
  {% endif %}
  {% if entry.media %}
    <div class="projects-media">
      <ul>
        {% for media in entry.media %}
          <li>
            <a href="{{ media.link }}" title="{{ media.title }}" target="_blank">{{ media.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="content">
    {{ entry.content }}
  </div>
</article>
