{% assign currentmod = forloop.index0 | modulo:3 %}

{% if entry.status == 'Completed' %}
{% assign status = 'done' %}
{% else %}
{% assign status = 'running' %}
{% endif %}

<div class="col-md-4 col-sm-6">
  <article class="project-entry project-{{ currentmod }}">
    <div class="project-name">
      <h3>
        <a href="{{ entry.link }}" target="_blank" title="{{ entry.title }}" class="title">
          {{ entry.title }}
        </a>
      </h3>
    </div>
    <div class="row project-info">
      <div class="col-md-6 col-sm-6">
        <span class="status {{ status }}">
          {{ entry.status }}
        </span>
      </div>
      <div class="col-md-6 col-sm-6 text-right">
        {% if status == 'done' %}
        <span class="year">
          {{ entry.year }}
        </span>
        {% else %}
        <a href="{{ entry.link }}" class="link-to-help">
          Click here to help
        </a>
        {% endif %}
      </div>
    </div>

    <div class="content">
      {{ entry.content }}
    </div>

    {% if entry.media %}
    <div class="projects-media">
      <ul class="unlisted">
        {% for media in entry.media %}
        <li>
          <a href="{{ media.link }}" title="{{ media.title }}" target="_blank">
            <i class="fa fa-star"></i>
            {{ media.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </article>
</div>
