<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--Bootstrap Select-->
<script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
<!--Magnific Popup-->
<script src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<!--Owl Carousel-->
<script src="vendors/owl.carousel/owl.carousel.min.js"></script>
<!--CounterUp-->
<script src="vendors/couterup/jquery.counterup.min.js"></script>
<!--WayPoints-->
<script src="vendors/waypoint/waypoints.min.js"></script>
<!--Theme Script-->
<script src="js/theme.js"></script>
