<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--Owl Carousel-->
<script src="/vendors/owl.carousel/owl.carousel.min.js"></script>
<!--Isotope & ImagesLoaded-->
<script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/isotope/isotope.min.js"></script>

<!--Theme Script-->
<script src="/js/theme.js"></script>
<script src="/assets/js/app.js"></script>
