<!-- Slack -->
<section class="row newsletter-signup slack">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>JOIN US ON SLACK</h4>
                <p>Participate in great discussions on our team's Slack.</p>
            </div>
            <form class="col-sm-offset-3 col-sm-4 form-inline newsletter-signup-form style2">
                <input type="text" class="form-control" placeholder="E-mail">
                <input type="submit" value="join" class="btn-primary white">
            </form>
        </div>
    </div>
</section>
