<!-- Slack -->
<section class="row newsletter-signup slack">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>JOIN US ON SLACK</h4>
                <p>Participate in great discussions on our team's Slack.</p>
            </div>
            <form class="col-sm-offset-3 col-sm-4 form-inline newsletter-signup-form style2 slack-form">
                <div class="slack-alert slack-success hidden">
                    <p>Your invitation has been sent!</p>
                </div>
                <div class="slack-alert slack-already-subscribed hidden">
                    <p>E-mail already invited.</p>
                </div>
                <div class="slack-alert slack-invalid-email hidden">
                    <p>Your e-mail is not valid!</p>
                </div>
                <input type="text" class="form-control slack-email" placeholder="E-mail">
                <button type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i>" class="btn btn-primary white slack-submit">Join</button>
            </form>
        </div>
    </div>
</section>
