.gradient-background {
  background: linear-gradient(to right, rgba($pale-grey, 0.1), rgba($dark-sky-blue, 0.1));
}

.credits {
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: $greenblue;
    color: white;
    border: 0;
    border-radius: 4px;
  }

  ul > li {
    padding-top: 20px;
  }
}

.info {
  h4 {
    color: $greenblue;
  }
}

.project-name {

  a {
    font-weight: bold;
  }

  .project-0 & a {
    color: $greenblue;
  }

  .project-1 & a {
    color: $tealish;
  }

  .project-2 & a {
    color: $dark-sky-blue;
  }

}

.year {

  .project-0 & {
    color: $greenblue;
  }

  .project-1 & {
    color: $tealish;
  }

  .project-2 & {
    color: $dark-sky-blue;
  }

}

.unlisted {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;

  li {
    margin-bottom: 5px;
  }
}

.project-entry {

  .link-to-help {
    text-decoration: underline;
  }

  .status {
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
  }

  .status.running {
    background-color: $darkish-pink;
  }

  .status.done, .status.halted {
    background-color: $greenblue;
  }

  .project-info {
    margin-bottom: 20px;
    line-height: 30px;
  }

  .content {
    margin-bottom: 20px;
  }
}
