.newsletter,
.slack {
  margin-top: 70px;
  padding: 18px;
  background-color: #fff;
  border-style: solid;
  border-color: #EBF1F4;
  border-width: 1px;

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.5vw;
    padding-left: 0;
    color: #1ebe92;

    img {
      height: 25px;
      display: inline-block;
      line-height: 1;
    }

    label {
      font-size: 14px;
      margin: 0;
      margin-left: 14px;
    }
  }

  .form-group.form-group-lg {
    width: 100%;
  }

  #mc_embed_signup_scroll {
    display: flex;
  }

  .form-group input {
    flex: 1;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding-left: 0;
    padding-right: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;

    &.type1 {
      border-bottom: 1px solid #27b0ac;
    }

    &.type2 {
      border-bottom: 1px solid #3797d8;
    }
  }

  .btn {
    margin-left: 2.5vw;
    color: #fff;
    text-transform: uppercase;
    background-color: #3797d8;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
  }

  .slack-form.success {
    padding: 5px;
    background: #1ebe92;
    color: white;
    text-align: center;
  }

  .has-error input.type2 {
    border: 1px solid red;
  }
}

.newsletter {
  & + sub {
    margin-top: 5px;
  }
}

.slack-alert {
  border-radius: 0;
}
