.section{
  header {
    display: flex;
    justify-content: space-between;

    img {
      width: 100%;
    }

    .appellation {
      color: $greenblue;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;

      .fa {
        line-height: 20px;
      }

    }

    .appellation-text {
      margin-left: 10px;
      margin-top: 3px;
    }

    .create {
      align-self: flex-end;
      color: $dark-sky-blue;
      background: $pale-grey;
      border-style: none;

      span {
        color: #fff;
        background: $dark-sky-blue;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 7px;
        height: 3px;
      }

      a {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    background: transparent;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #3797D8;
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(30, 191, 146, 0.6) -4px -5px 3px -3px;
    animation: rotate 2s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  .separator {
    background-image: linear-gradient(to right, $greenblue, $dark-sky-blue);
    height: 1px;
    margin-top: 10px;
  }

  #agenda-items {
    position: relative;
    min-height: 200px;
  }
}

.calendar-entries {
  background: linear-gradient(to right, rgba($pale-grey, 0.1), rgba($dark-sky-blue, 0.1));
}

#agenda-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calendar-entry {
  @mixin colorNthItem ($property, $color) {
    #{$property}: $color;
  }

  $colors: (
    0: $greenblue,
    1: $tealish,
    2: $dark-sky-blue
  );

  @for $i from 0 to 6 {
    &-#{$i} {
      .scheduled {
        $property: "background-color";

        @include colorNthItem($property, map-get($colors, $i % 3));
      }
    }
  }

  padding: 30px;

  .scheduled {
    color: #fff;
    text-align: center;
    width: 80px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 20px;
  }

  .date {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  .time {
    font-size: 12px;
  }

  .title {
    @for $i from 0 to 6 {
      &-#{$i} {
        $property: "color";

        @include colorNthItem($property, map-get($colors, $i % 3));
      }
    }

    font-weight: bold;
    font-size: 18px;
  }

  .location {
    color: $brownish-grey;
    margin-top: 15px;
  }

  .location-hosted {
    font-weight: bold;
  }

  .location-name {
    text-decoration: underline;

    a {
      color: $brownish-grey;
    }
  }

  .details {
    overflow: hidden;
    color: $brownish-grey;
    margin: 15px 0;
    // height: 57px;
    // width: 315px;
  }

  .more-info {
    text-decoration: underline;
    color: $brownish-grey;
    width: 64px;
  }
}

.powered {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  color: rgba($tealish, 0.45);
  font-size: 12px;
  font-weight: 200;

  a {
    color: rgba($tealish, 0.45);
  }
}
