$white: #fff;
$pale-grey: #f4fcfa;
$greenblue: #1ebf92;
$greenblue: #1ebf93;
$dark-sky-blue: #3797d8;
$dark-sky-blue: #3798d8;
$brownish-grey: #6c6c6c;
$darkish-pink: #d8377c;
$windows-blue: #32a0c8;
$tealish: #2aabb4;
$tealish: #2baab6;
$tealish: #25b5a5;
$tealish: #2da7bd;
