// .no-gutter [class*='col-'] {
//   padding-right: 0;
//   padding-left: 0;
// }
//
// .col-md-4:first-child {
//   padding-left: 0;
// }
//
// .col-md-4:last-child {
//   padding-right: 0;
// }

.project-entries,
.community-entries {
  display: flex;
  flex-wrap: wrap;

  .col-md-4 {
    display: flex;
    float: none;

    @media (max-width: 992px) {
      width: 100%;
      display: block;
    }
  }
}

.community-entry {
  @mixin colorNthItem ($property, $color) {
    #{$property}: $color;
  }

  $colors: (
    0: rgba($greenblue, 0.8),
    1: rgba($tealish, 0.8),
    2: rgba($dark-sky-blue, 0.8)
  );

  @for $i from 0 to 7 {
    &-#{$i} {
      header .community-img-overlay {
        $property: "background";

        @include colorNthItem($property, map-get($colors, $i % 3));
      }
    }
  }

  width: 100%;
  margin-top: 20px;
  background: linear-gradient(to right, rgba($pale-grey, 0.1), rgba($dark-sky-blue, 0.1));

  header {
    margin-top: 0;
    position: relative;
  }

  img {
    height: 100px;
    width: 359px;
  }

  .community-item-header {
    height: 100px;
    width: 359px;
    background-color: rgba(55, 151, 216, 0.1);
  }


  header .community-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .community-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .community-title {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding:0 15px;
    /* IE fix : Needs to have width set or it overflows*/
    width:100%;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .community-text {
    color: $brownish-grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 19px;

    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .community-text-detail {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;

    span {
      font-weight: bold;
    }

    a {
      color: $brownish-grey;
      text-decoration: underline;
    }
  }
}


