.site-footer {
  margin-top: 90px;
  font-size: 12px;
}

.site-footer .social-links ul{
  // width: 50%;
  margin: auto;
}

.site-footer .social-links li {
  list-style: none;
  float: left;
  margin-right: 30px;
}

.site-footer .disclamer {
  margin-top: 50px;
  margin-bottom: 30px;
}
