#forms {
  display: flex;

  .form {
    flex: 1;
  }
}

.form {
  margin: 1.5 * $size 0;
  padding: $size;
  background-color: #FFF;
  border: 1px solid #EBF1F4;

  &:first-child {
    margin-right: 1.5 * $size;
  }

  .field {
    display: flex;
    width: 100%;

    input,
    button {
      background-color: transparent;
      border: none;
    }

    input {
      flex: 1;
      margin-right: 2 * $size;
      padding: 0.5 * $size;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    button {
      padding: 0.5 * $size $size;
      color: #fff;
      border-radius: 3px;
    }
  }

  &.news {
    .field {
      input {
        color: #1EBF92;
        border-bottom: 1px solid #1EBF92;
      }

      button {
        background-color: #1EBF92;
      }
    }
  }

  &.chat {
    .field {
      input {
        color: #3797D8;
        border-bottom: 1px solid #3797D8;
      }

      button {
        background-color: #3797D8;
      }
    }
  }
}
