header {
  margin-top: 40px;

  .navbar-brand {
    padding: 8px;

    & > img {
      height: 35px;
    }
  }

  .responsive-button{
    background-color: #3798D7;

    .icon-bar{
      background-color: #FFF;
    }
  }

  .main-menu{
    float: none!important;
    text-align: center;

    a{
      display: block;
      padding: 10px 0;
    }
  }
}


.navbar {
  padding: 0;
  line-height: 20px;
  height: auto;

  .nav {
    padding: 15px 0;

    a {
      //margin-left: 40px;
      font-weight: bold;
      text-transform: uppercase;
    }

    @mixin navItemColor ($item, $color) {
      .#{$item} {
        &,
        &:visited {
          color: $color;
        }
      }
    }

    $colors: (
      item1: #1EBF92,
      item2: #25B5A5,
      item3: #2DB1D5,
      item4: #32A0C8,
      item5: #3797D8
    );

    @each $color, $value in $colors {
      @include navItemColor($color, $value);
    }
  }
}


@media (min-width: 768px){
  header {
    margin-top: 64px;

    .main-menu{
      float: right!important;
      text-align: left;
      a{
        display: inline-block;
        padding: 0;
      }
    }
  }

  .navbar {
    height: 50px;

    .nav {

      a {
        margin-left: 40px;
      }
    }
  }

}
