.container .hero.jumbotron {
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 19px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #FFF;
  background-image: linear-gradient(to right, #1EBF92 0%, #3797D8 100%);
  border-radius: 0;
}

.container .featured_event.jumptron {
  margin-top: 70px;
  position: relative;
  padding: 19px;
  text-align: center;
  background-color: #D0ECF0;
  border-radius: 0;

  a{
    &,
    &:visited {
      color: #228D96;
    }
  }

  .text {
    font-weight: bold;
  }

  .label {
    position: absolute;
    left: 19px;
    top: 19px;
    color: #18a37c;
    margin: 0;
    padding: 0;

    .label-text {
      display: inline-block;
      margin-top: 5px;
    }
  }
}
