.container .hero.jumbotron {
  margin-top: 50px;
  margin-bottom: 0;
  padding: 19px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #FFF;
  background-image: linear-gradient(to right, #1EBF92 0%, #3797D8 100%);
  border-radius: 0;

  .text {
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    margin: 0;
  }
}

.container .featured_event.jumptron {
  position: relative;
  padding: 19px;
  text-align: center;
  background-image: linear-gradient(to right, #CDF1E7 0%, #D1EAF3 100%);
  border-radius: 0;

  a{
    &,
    &:visited {
      color: #228D96;
    }
  }

  .text {
    font-weight: bold;
    font-size: 22px;
  }

  .label {
    @media (max-width: 768px){
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 20px;
      display: block;
    }
    position: absolute;
    left: 19px;
    top: 19px;
    color: #18a37c;
    margin: 0;
    padding: 0;

    .label-text {
      display: inline-block;
      margin-left: 10px;
      text-transform: uppercase;
      vertical-align: middle;
    }

    /* IE mobile fix: needs width set*/
    img{
      width:26px;
      height:25px;
    }
  }
}
