.donate_form{
    background: #fff;
    button.mfp-close{
        color: #fff;
        background: $dark;
    }
    h3,h5,h4{
        color: $dark;
        span{ 
            color: $green;
        }
    }
    
    input[type="radio"]{
        & + label{
            &:before{
                border-color: #9299a9;
            }
            &:after{
                background: transparent;
            }
            p{
                color: $ashLight;
            }
        }
        &:checked + label{
            &:after{
                background: $green;
            }
        }
    }
    
    .input-group{
        .left{
            border-color: #cbd0db;
            background: #f1f4f8;
        }
        .form-control{
            border-color: #cbd0db;
            background: #f1f4f8;
        }
    }
}