.latest-post{
    .featured_cont{
        i{
            color: #fff;
        }
    }
    .post-title{
        a{
            color: #fff;
            &:hover,&:focus{
                color: $dark;
            }
        }
    }
    .post-meta{
        text-transform: none;
        color: #fff;
        a{
            color: $dark;
            &:hover,&:focus{
                text-decoration: underline;
            }
        }
    }
    .post-excerpts{
        color: $dark;
    }

    &.media{
        & + .media{
            border-top-color: #e8ecf2;
        }
    }
}
