---
layout: default
title: SKGTech - About Us
---
<section class="row page-header">
    <div class="container">
        <h4>About SKGTech</h4>
    </div>
</section>

<div class="page-wrapper row">

<section class="row content_about page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 who_we_are">
                <h6 class="label label-defatult about_var">who we are</h6>
                <h3 class="team_page_title">We are SKGTech.</h3>
                <p class="team_page_para about_var">SKGTech is a non profit organization based in Thessaloniki, Greece. The organization is comprised of creative and passionate people that love all the things revolving around technology.</p>

                <p>We organize local meetups, international conferences and create apps and services to aid our society at large. SKGTech is all about people; networking and bringing the people with common interests together to create synergies.</p>

                <p>You can read SKGTech Bylaws <a href="#">here</a> </p>

            </div>
            <div class="col-sm-6 history">
                <h6 class="label label-defatult">history</h6>
                <div class="history_carousel">
                    <div class="item">
                        <h3 class="year">2014</h3>
                        <p>SKGTech is officially founded under the umbrella of a non-profit organization legal entity.</p>
                    </div>
                    <div class="item">
                        <h3 class="year">2015</h3>
                        <p>Pellentesque mollis eros quis massa interdum porta et vel nisi. Duis vel viverra quam. Etiam molestie odio lacus, vulputate feugiat tortor condimentum eu.</p>
                    </div>
                    <div class="item">
                        <h3 class="year">2016</h3>
                        <p>Pellentesque mollis eros quis massa interdum porta et vel nisi. Duis vel viverra quam. Etiam molestie odio lacus, vulputate feugiat tortor condimentum eu.</p>
                        <p>Etiam hendrerit maximus urna a lobortis. Etiam commodo metus volutpat, tempor diam sit amet, suscipit eros. Morbi laoreet sodales turpis, sit amet fermentum orci ultrices non.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mission_vision">
            <div class="col-sm-6">
                <i class="fa fa-diamond"></i>
                <h5>vision</h5>
                <p>To bring together all the people who are passionate about technology under the same roof.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-cogs"></i>
                <h5>mission</h5>
                <p>SKGTech embraces &amp; brings together all the people who love technology with the ultimate goal to inspire, to create and to serve its members and the society they live in.</p>
            </div>
        </div>

        <div class="row team_members_row">
            <div class="col-sm-12">
                <h3 class="team_page_title">CORE TEAM MEMBERS</h3>
                <div class="row">
                    {% assign people = site.data.people | sort: "last_name" %}
                    {% for p in people %}
                        <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                            <img src="{{ p.img }}" alt="{{ p.first_name }} {{ p.last_name }}" class="img-responsive">
                            <h4>{{ p.first_name }} {{ p.last_name }}</h4>
                            <h6>{{ p.title }}</h6>
                            <ul class="social-links list-inline">
                                {% for link in p.links %}
                                    <li>
                                        <a href="{{ link.href }}" title="{{ link.title }}">
                                            <i class="fa fa-{{ link.type }} fa-lg"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <h3 class="team_page_title">COMPANY INFO</h3>
        <div class="row mission_vision">
            <div class="col-sm-6">
                <i class="fa fa-info-circle"></i>
                <h5>company info</h5>
                <p><strong>SKGTech</strong><br>Non-profit organization</p>
                <p><br><strong>VAT:</strong> EL997312737<br><br>25is Martiou 48<br>Evosmos, 56442<br>Thessaloniki, Greece</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-bank"></i>
                <h5>banking information</h5>
                <p><strong>PIRAEUS BANK</strong><br><br><strong>IBAN:</strong> GR57 0171 8640 0068 6413 6129771<br><strong>BIC</strong>: PIRBGRAA<br><strong>Beneficiary:</strong> SKGTech</p>
                <p><br><strong>PAYPAL</strong><br>Our paypal email is paypal@skgtech.io</p>
            </div>
        </div>
    </div>
</section>

{% include newsletter.html %}
