---
layout: default
title: About
class: about
weight: 80
---

<h1>About SKGTech</h1>
<p>SKGTech is a Non Profit Organization comprised of all kinds of technology friends and professionals. Our mission is to help local and global communities in leveraging technologies to improve their quality of living.</p>

<p>We are all volunteers, each one of us doing what we know best to produce well crafted and impactful events, projects, campaigns and fundraisers. For a list of our work you can checkout the <a href="/projects" title="SKGTech's Projects">Projects page</a></p>

<h2>The People</h2>

<div class="row">
  <div class="col-md-12">
    {% for person in site.data.people.people %}
    <div class="thumbnail pull-left">
      <img src="{{ person.img }}" alt="{{ person.name }}" width="180px">
      <div class="caption">
        <h3>{{ person.name }}</h3>
        <p><strong>{{ person.title }}</strong> {{ person.company }}</p>
        <ul>
          {% for link in person.links %}
          <li><a href="{{ link.href }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
