.blog-content{
    padding: 73px 0 130px;
}

.post{
    border-bottom: 1px solid;
    padding: 0 0 50px;
    margin: 0;
    & + .post{
        padding: 50px 0;
    }
    .featured-contents{
        margin: 0 0 50px;
        text-align: center;
        img{
            max-width: 100%;
            display: inline-block;            
        }
        
        .post-gallery{
            position: relative;
        }
        
        .owl-prev,.owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 36px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            font-size: 24px;
            &:hover,&:focus{
            }
        }
        .owl-prev{
            left: 0;
        }
        .owl-next{
            right: 0;
        }
        
        iframe{
            width: 100%;
        }
    }
    
    &.post-type-video{
        iframe{
            height: 346px;
        }
    }
    
    &.post-type-audio{
        iframe{
            height: 162px;
        }
    }
    
    .article-body{
        margin: 0;
    }
    .post-title{
        margin-top: 0;
        margin-bottom: 20px;
        a{
            text-transform: uppercase;
            font-family: $montserrat;
            font-weight: 700;
        }
    }
    
    .post-meta{
        li{
            float: left;
            font: 700 13px/20px $montserrat;
            text-transform: uppercase;
			@media (max-width: 767px){
				float: none;
			}
            & + li{
                margin-left: 30px;
				@media (max-width: 1199px){
					margin-left: 10px;
				}
				@media (max-width: 767px){
					margin-left: 0;
					margin-top: 3px;
				}
            }
            a{
                padding: 0;
                display: inline;
                &:hover,&:focus{
                    background: none;
                }
            }
            i{
                margin-right: 5px;
            }
        }
        .posted-by{
            a{
            }
        }
    }
    .post-excerpt{
        margin: 45px 0;
        p{
            margin: 0;
            font: 16px/24px $karla;
        }
    }
    
    blockquote{
        padding: 30px 40px;
        border-left: 9px solid;
        margin: 0;
		@media (max-width: 479px){
			padding: 20px 25px;
		}
        p{
            font: 700 italic 32px/1.2 $montserrat;
            margin-bottom: 0;
        }
        footer{
            font: 700 13px/1.1 $montserrat;
            margin-top: 40px;
        }
        &.style2{
            margin: 58px 0 28px;
            p{
                font: italic 26px/34px $karla;
				@media (max-width: 479px){
					font-size: 18px;
					line-height: 28px;
				}
            }
        }
    }
    
    &.post-type-link{
        .post-title{
            a{
                &:after{
                    font-family: "FontAwesome";
                    content: "\f14c";
                    display: inline-block;
                    margin-left: 20px;
                }
            }
        }
    }
    
    .post-tags{
        margin: 25px 0 0;
        text-transform: uppercase;
        font: 700 16px/20px $montserrat;
        a{
            font-size: 13px;
        }
    }
}

.single-post{
    padding-bottom: 25px;
}

.post-content{
    margin: 45px 0 0;
    p{
        margin: 0 0 25px;
        font: 16px/24px $karla;
    }
}

.pagination{
    margin: 58px 0 0;
    li{
        float: left;
        & + li{
            margin-left: 8px;
        }
        a{
            border-radius: 3px;
            height: 44px;
            padding: 0 15px;
            font: 13px/42px $montserrat;
            min-width: 43px;
            text-align: center;
            border: 1px solid;
			@media (max-width: 767px){
				min-width: 28px;
				height: 35px;
				line-height: 33px;
			}
            &:hover,&:focus{
            }
        }
        &.active{
            a{
            }
        }
    }
}

.related-posts{
    padding: 40px 0;
    margin: 0;
    border-bottom: 1px solid;
    .this-title{
        margin: 0 0 45px;
        font: 700 16px/20px $montserrat;
        text-transform: uppercase;
    }
}

.related-post{
    margin-bottom: 30px;
    .post-title{
        margin-top: 0;
        line-height: 21px;
        font-family: $montserrat;
        text-transform: uppercase;
        margin-bottom: 10px;
        a{
        }
    }
    .post-cat{
        font: 16px/20px $karla;
        margin: 0;
        a{
            text-transform: capitalize;
        }
    }
}

.pager{
    padding: 40px 0 45px;
    margin: 0;
    border-bottom: 1px solid;
    li{
        max-width: 225px;
		@media (max-width: 479px){
			max-width: 100%;
			& + li{
				margin-top: 15px;
			}
		}
        a{
            border: none;
            padding: 0;
            text-transform: uppercase;
            &:hover,&:focus{
                background: none;
            }
            i{
            }
            .post-sequence{
                font: 700 16px/21px $montserrat;
            }
            .post-title{
                margin: 20px 0 0;
                font: 700 14px/21px $montserrat;
            }
        }
        
        &.prev{
            float: left;
            text-align: left;
            a{
                i{
                    margin-right: 14px;
                }
                .post-sequence{}
                .post-title{
                }
            }
        }
        &.next{
            float: right;
            text-align: right;
            a{
                i{
                    margin-left: 14px;
                }
            }
        }
    }
}

.author-about{
    margin: 50px 0;
    padding: 33px 100px 33px 33px;
	@media (max-width: 479px){
		padding: 20px;
	}
    .media-left{
        padding-right: 30px;
		@media (max-width: 479px){
			display: block;
			padding-right: 0;
			padding-bottom: 30px;
		}
        a{
            width: 168px;
            height: 163px;
            display: block;
            line-height: 163px;
            text-align: center;
            img{
                max-width: 100%;
            }
        }
    }
    
    .author-title{
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 0;
        a{
            font: 700 16px/20px $montserrat;
        }
    }
    p{
        margin-bottom: 15px;
    }
    
    .btn-primary{
        line-height: 31px;
    }
}

.comments{
    margin-bottom: 56px;
    .this-title{
        font: 700 16px/1 $montserrat;
        margin-bottom: 20px;
        margin-top: 0;
        padding-bottom: 28px;
        border-bottom: 1px solid;
        text-transform: uppercase;
    }
}

.comment{
    padding: 25px 0 20px;
    border-bottom: 1px solid;
    .media-left{
        padding-right: 30px;
		@media (max-width: 479px){
			display: block;
			padding-right: 0;
			padding-bottom: 20px;
		}
        a{
            width: 138px;
            height: 133px;
            display: block;
            img{
                width: 100%;
            }
        }
    }
    .media-body{
        overflow: visible;
    }
    
    h4{
        text-transform: uppercase;
        font: 700 16px/20px $montserrat;
        margin-top: 0;
        margin-bottom: 12px;
        a{
            margin-right: 18px;
			@media (max-width: 767px){
				margin-right: 10px;
			}
        }
        small{
            font-weight: bold;
        }
    }
    h6{
        margin: 0 0 25px;
        a{
            font: 700 11px/1.1 $montserrat;
            text-transform: uppercase;
        }
    }
    
    p{
        font-size: 16px;
        margin-bottom: 25px;
    }
    
    .btn-sm{
        
    }
    &.reply{
        padding: 22px;
        border: none;
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: -30px;
        margin-right: 0;
		@media (max-width: 767px){
			margin-left: -150px;
		}
		@media (max-width: 479px){
			margin-left: 20px;
		}
    }
}

.comment-form{
    padding: 55px 48px 48px;
	@media (max-width: 767px){
		padding: 25px;
	}
	@media (max-width: 479px){
		padding: 15px;
	}
    h4{
        font: 700 16px/20px $montserrat;
        margin: 0 0 35px;
        text-transform: uppercase;
    }
    textarea.form-control{
        margin-bottom: 30px;
    }
}