.checkout-form{    
    font: 700 16px/1.2 $montserrat;
    
    text-transform: uppercase;
    h4.pi{
        margin-bottom: 40px;
    }
    
    label{
        font: 700 14px/1 $montserrat;
        margin-bottom: 7px;
        span{
            
        }
        & + .sub-label{
            margin-top: 0;
            margin-bottom: 20px;
            font: 12px/1.1 $montserrat;
            
        }
    }
    
    .form-control{
        text-transform: uppercase;
        margin-bottom: 40px;
        border: 1px solid;
        border-radius: 3px;
        
        max-width: 495px;
        height: 46px;
        box-shadow: none;
        padding: 0 15px;
        font: 12px/44px $montserrat;
                
    }
    
    #hide-name{
        display: none;
        & + label{
            margin-bottom: 40px;
            font: 12px/18px $montserrat;
            
            &:before{
                float: left;
                border: 1px solid;
                width: 18px;
                height: 18px;
                margin-right: 10px;
                line-height: 16px;
                text-align: center;
                font-family: "FontAwesome";
                content: '';
                font-size: 14px;
            }
        }
        &:checked{
            & + label{
                &:before{
                    content: "\f00c";
                }
            }
        }
    }
    
    .total-pay-amount{
        margin-bottom: 20px;
        font: 700 16px/1.2 $montserrat;
        
        margin-top: 0;
        span{
            
        }
    }
}

.checkout-table{
    margin-bottom: 45px;
    table{
        thead{
            
            
            tr{
                th{
                    border: none;
                    font: 700 13px/52px $montserrat;
                    padding: 0 30px;
                    & + th{
                        border: 1px solid;
                    } 
                }
            }
        }
        tbody{
            border-left: 1px solid;
            border-right: 1px solid;
            tr{
                margin: 0;
                border: 0;
                padding: 0;
                box-shadow: none;
                td{
                    border-top: none;
                    
                    padding: 30px;
                    vertical-align: middle;
                    & + td{
                        border-left: 1px solid;
                    }
                    &:last-child{
                        text-align: center;
                    }
                    .close{
                        float: none;
                        display: inline-block;
                        font-size: 18px;                        
                        opacity: 1;
                    }
                }
                .media{
                    .media-left{
                        padding-right: 20px;
                        a{
                            display: block;
                        }
                        img{
                        }
                    }                    
                }
            }
        }
        tfoot{
            border-left: 1px solid;
            border-right: 1px solid;
            border-bottom: 1px solid;
            tr{
                td{
                    padding: 15px;
                    span{
                        
                    }
                    .btn-primary{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.gateways{
    margin-bottom: 30px;
    li{
        float: left;
        a{
            display: block;
            padding: 0;
        }
    }
    li + li{
        margin-left: 10px;
		@media (max-width: 479px){
			margin-left: 5px;
		}
    }
}