.content_faqs{
    .team_page_para{
        margin-bottom: 65px;
    }
}

.sideNav{
    padding: 36px 36px 38px 30px;
    text-transform: uppercase;
	width: 360px;
	@media (max-width: 1199px){
		width: 293px;
	}
	@media (max-width: 991px){
		width: 220px;
		padding: 20px;
	}
	@media (max-width: 767px){
		display: none;
	}
    h4{
        font: 700 16px/1 $montserrat;
        margin-bottom: 30px;
        margin-top: 0;      
		@media (max-width: 991px){
			margin-bottom: 10px;
		}  
    }
    
    ul{
        li{
            & + li{
                border-top: 1px solid;
            }
            a{
                font: 700 13px/40px $montserrat;
                padding: 0;
                &:hover,&:focus{
                    background: none;
                }
            }
            &.active{
                a{
                }
            }
        }
    }
    &.affix{
        position: fixed;
        top: 70px;
        z-index: 1000;
    }
    &.affix-bottom{
        position: absolute;
    }
}

.questions{
    & + .questions{
        margin-top: 60px;
    }
    .question_type{
        text-transform: uppercase;
        margin-bottom: 35px;
        padding-bottom: 20px;
        margin-top: 0;
        font-family: $montserrat;
        font-weight: 700;
        border-bottom: 3px solid;
    }
}

.question_accordion{
    .panel-default{
        border: none;
        border-radius: 0;
        box-shadow: none;
        & + .panel-default{
            margin-top: 30px;
            margin-bottom: 0;
        }
    }
    .panel-heading{
        padding: 0;
        background: none;
        border-radius: 0;
        & + .panel-collapse{
        
            &>.panel-body{
                border-top: none;
            }
        }
    }
    .panel-title{
        a{
            font: 700 16px/24px $montserrat;
            text-transform: uppercase;
			padding-left: 30px;
			display: block;
            &:before{
                display: block;
                width: 30px;
                font-family: "FontAwesome";
				float: left;
				margin-left: -30px;
            }
        }
        [aria-expanded="false"]{
            &:before{                
                content: "\f0fe";
            }
        }
        [aria-expanded="true"]{
            &:before{                
                content: "\f146";
            }            
        }
    }
    .panel-collapse{
    }
    .panel-body{
        padding-left: 30px;
        padding-right: 30px;
        p{
            margin-bottom: 0;
            font-size: 16px;
            & + p{
                margin-top: 25px;
            }
        }
    }
}