.featured_causes_row{
    padding: 79px 0 111px;
    .sectionTitle{
        margin-bottom: 50px;
        h3{
        }
    }
    
    .owl-prev,.owl-next{
        top: 50%;
        transform: translateY(-50%);
        border-radius: 3px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        position: absolute;
        text-align: center;
        i{
            font-size: 18px;
        }
    }
    
    .owl-prev{
        left: -72px;
    }
    
    .owl-next{
        right: -72px;
    }
}