---
layout: default
title: SKGTech - Job Board
---
<section class="row page-header">
  <div class="jobs">
    <div class="container">
      <h4>Job Listings</h4>
    </div>
  </div>
</section>

<div class="page-wrapper row">

<section class="row gallery-content">
    <div class="container">
        <div class="row sectionTitle text-center">
            <h6 class="label label-default">JOBS LISTINGS</h6>
            <h3>TECH JOBS IN THESSALONIKI</h3>
            <p>Want to post a listing here? <a href="https://docs.google.com/forms/d/e//viewform">Fill in the form</a></p>
        </div>

        <div class="row">

            <!-- React app -->
            <div id="jobBoard"></div>

        </div>
    </div>
</section>

{% include newsletter.html %}
{% include footer-skgtech-info.html %}
