.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a {
  color: #ffffff;
  background-color: #74cfae;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3fb78c;
}

.navbar-brand {
  font-size: 60px;
  padding-top: 12px;
  padding-bottom: 0px;
}

.navbar .nav {
  float: right;
}