<div class="row">
  <section class="calendar-section" id="calendar">
    <header>
      <div class="appellation">
        {% include index/icons/calendar.html %}
        <div class="appellation-text">
          Calendar
        </div>
      </div>
      <button class="create">
        <span>+</span> create new
      </button>
    </header>
    <div class="separator"></div>

    <div class="calendar-entries">
      <div id="agenda-items">
        <!-- <img src="/assets/img/loader-bar.gif" style="margin-top:30px;"/> -->
        <article class="calendar-entry calendar-entry-0">
          <div class="meta">
            <div class="scheduled">
              <div class="date">10 Sep</div>
              <div class="time">All Day</div>
            </div>
            <div class="title-n-place">
              <div class="title title-0">Droidcon GR</div>
              <div class="location">
                <span class="location-hosted">Hosted at:</span>
                <span class="location-name">
                  <a href="https://www.google.com/maps/place" target="_blank">Noesis</a>
                </span>
              </div>
            </div>
          </div>
          <div class="details">
            <p>The idea behind the droidcon conferences is to support the Android platform and create a global network for developers and companies. We offer high-class talks from different parts of the ecosystem, including core development, embedded solutions,
              augmented reality, business solutions and games.</p>
          </div>
          <a href="http://droidcon.gr/" class="more-info">
            More info
        </a>
        </article>
        <article class="calendar-entry calendar-entry-1">
          <div class="meta">
            <div class="scheduled">
              <div class="date">10 Sep</div>
              <div class="time">All Day</div>
            </div>
            <div class="title-n-place">
              <div class="title title-1">Droidcon GR</div>
              <div class="location">
                <span class="location-hosted">Hosted at:</span>
                <span class="location-name">
                  <a href="https://www.google.com/maps/place" target="_blank">Noesis</a>
                </span>
              </div>
            </div>
          </div>
          <div class="details">
            <p>The idea behind the droidcon conferences is to support the Android platform and create a global network for developers and companies. We offer high-class talks from different parts of the ecosystem, including core development, embedded solutions,
              augmented reality, business solutions and games.</p>
          </div>
          <a href="http://droidcon.gr/" class="more-info">
            More info
        </a>
        </article>
        <article class="calendar-entry calendar-entry-2">
          <div class="meta">
            <div class="scheduled">
              <div class="date">10 Sep</div>
              <div class="time">All Day</div>
            </div>
            <div class="title-n-place">
              <div class="title title-2">Droidcon GR</div>
              <div class="location">
                <span class="location-hosted">Hosted at:</span>
                <span class="location-name">
                  <a href="https://www.google.com/maps/place" target="_blank">Noesis</a>
                </span>
              </div>
            </div>
          </div>
          <div class="details">
            <p>The idea behind the droidcon conferences is to support the Android platform and create a global network for developers and companies. We offer high-class talks from different parts of the ecosystem, including core development, embedded solutions,
              augmented reality, business solutions and games.</p>
          </div>
          <a href="http://droidcon.gr/" class="more-info">
            More info
        </a>
        </article>
        <article class="calendar-entry calendar-entry-3">
          <div class="meta">
            <div class="scheduled">
              <div class="date">10 Sep</div>
              <div class="time">All Day</div>
            </div>
            <div class="title-n-place">
              <div class="title title-3">Droidcon GR</div>
              <div class="location">
                <span class="location-hosted">Hosted at:</span>
                <span class="location-name">
                  <a href="https://www.google.com/maps/place" target="_blank">Noesis</a>
                </span>
              </div>
            </div>
          </div>
          <div class="details">
            <p>The idea behind the droidcon conferences is to support the Android platform and create a global network for developers and companies. We offer high-class talks from different parts of the ecosystem, including core development, embedded solutions,
              augmented reality, business solutions and games.</p>
          </div>
          <a href="http://droidcon.gr/" class="more-info">
            More info
        </a>
        </article>
        <article class="calendar-entry calendar-entry-4">
          <div class="meta">
            <div class="scheduled">
              <div class="date">10 Sep</div>
              <div class="time">All Day</div>
            </div>
            <div class="title-n-place">
              <div class="title title-4">Droidcon GR</div>
              <div class="location">
                <span class="location-hosted">Hosted at:</span>
                <span class="location-name">
                  <a href="https://www.google.com/maps/place" target="_blank">Noesis</a>
                </span>
              </div>
            </div>
          </div>
          <div class="details">
            <p>The idea behind the droidcon conferences is to support the Android platform and create a global network for developers and companies. We offer high-class talks from different parts of the ecosystem, including core development, embedded solutions,
              augmented reality, business solutions and games.</p>
          </div>
          <a href="http://droidcon.gr/" class="more-info">
            More info
        </a>
        </article>

      </div>
      <div class="powered">
        <a href="https://www.google.com/calendar/embed?src=2ul10sd9g30mnk1vpmcnnp5qv4%40group.calendar.google.com&ctz=Europe/Athens">
          powered by Google Calendar
        </a>
      </div>
    </div>
  </section>

  <!-- <div id="agenda-tpl" class="hide">
    <article class="calendar-entry">
      <div class="meta">
        <div class="scheduled">
          <div class="date"></div>
          <div class="time"></div>
        </div>
        <div class="title-n-place">
          <div class="title">
          </div>
          <div class="location">
            <span class="location-hosted">Hosted at:</span>
            <span class="location-name"></span>
          </div>
        </div>
      </div>
      <div class="details">
        <p></p>
      </div>
      <a href="#" class="more-info">
          More info
      </a>
    </article>
  </div>

  <div class="hide" id="agenda-error">
    <div class="row">
      <div class="col-lg-6">
        <div class="alert alert-danger">Oh Snap! Something went horribly wrong :( Please refresh!</div>
      </div>
    </div>
  </div> -->
</div>
