<div class="" id="communities">
  <div class="communities-section section">
    <header>
      <div class="appellation">
        {% include index/icons/communities.html %}
        <div class="appellation-text">
          Communities
        </div>
      </div>
      <div class="create">
        Want to see your community here?
        <a href="https://github.com/skgtech/skgtech.github.io/blob/master/_data/communities.yaml" target="_blank" title="The Communities data file">Submit a Pull Request.</a>
      </div>
    </header>
    <div class="separator"></div>

    <div class="row community-entries">

      {% for c in site.data.communities %}
      {% assign currentmod = forloop.index0 | modulo:3 %}

      <div class="col-md-4 col-sm-12">
        <div class="community-entry community-entry-{{ currentmod }}">
          <header>
            {% if c.image %}
            <img src="{{ c.image }}" alt="{{ c.name }}">
            {% else %}
            <img src="/assets/img/community_placeholder.jpeg" alt="{{ c.name }}">
            {% endif %}
            <div class="community-img-overlay">
              <div class="community-title">
                {% if c.website %}
                <a href="{{ c.website }}">
                  {{ c.name }}
                </a>
                {% else %}
                {{ c.name }}
                {% endif %}
              </div>
            </div>
          </header>
          <div class="community-text">
            <p>
              {{ c.description }}
            </p>
            <div class="community-text-detail">
              <span>Meets:</span> {{ c.period }}
            </div>
            <div class="community-text-detail">
              <span>Maintainers:</span>
              <ul class="unlisted">
                {% for maintainer in c.maintainers %}
                <li>
                  {% if maintainer.email %}
                  <a href="mailto:{{ maintainer.email }}">
                  {% elsif maintainer.website %}
                  <a href="{{ maintainer.website }}">
                  {% endif %}
                    <i class="fa fa-angle-right"></i>
                    {{ maintainer.name }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>
