<div class="row no-gutter">
	<div class="container communities-section">
    <header>
      <div class="appellation">
        {% include index/icons/communities.html %}
        <div class="appellation-text">
          Communities
        </div>
      </div>
      <div class="create">
        Want to see your community here?
        <a href="#">Tell us more.</a>
      </div>
    </header>
    <div class="separator"></div>

    <div class="community-entries">

      <div class="col-md-4">
        <div class="community-entry community-entry-0">
          <header>
            <img src="http://photos3.meetupstatic.com/photos/event/1/6/e/6/highres_432125862.jpeg" alt="Community Image">
            <div class="community-img-overlay">
              <div class="community-title">
                Node.js
              </div>
              <div class="community-site">
                <a href="#">view website</a>
              </div>
            </div>
          </header>
          <div class="community-text">
            <p>
              Thessaloniki Node.js Meetup is an initiative to connect "Noders" across Thessaloniki in order to exchange ideas, knowledge and experience.
            </p>
            <div class="community-text-detail">
              <span>Meets:</span> Every 2 weeks
            </div>
            <div class="community-text-detail">
              <span>Maintainers:</span>
              <a href="#">Thanasis Polychronakis</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="community-entry community-entry-1">
          <header>
            <img src="http://photos3.meetupstatic.com/photos/event/1/6/e/6/highres_432125862.jpeg" alt="Community Image">
            <div class="community-img-overlay">
              <div class="community-title">
                Node.js
              </div>
              <div class="community-site">
                <a href="#">view website</a>
              </div>
            </div>
          </header>
          <div class="community-text">
            <p>
              Thessaloniki Node.js Meetup is an initiative to connect "Noders" across Thessaloniki in order to exchange ideas, knowledge and experience.
            </p>
            <div class="community-text-detail">
              <span>Meets:</span> Every 2 weeks
            </div>
            <div class="community-text-detail">
              <span>Maintainers:</span>
              <a href="#">Thanasis Polychronakis</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="community-entry community-entry-2">
          <header>
            <img src="http://photos3.meetupstatic.com/photos/event/1/6/e/6/highres_432125862.jpeg" alt="Community Image">
            <div class="community-img-overlay">
              <div class="community-title">
                Node.js
              </div>
              <div class="community-site">
                <a href="#">view website</a>
              </div>
            </div>
          </header>
          <div class="community-text">
            <p>
              Thessaloniki Node.js Meetup is an initiative to connect "Noders" across Thessaloniki in order to exchange ideas, knowledge and experience.
            </p>
            <div class="community-text-detail">
              <span>Meets:</span> Every 2 weeks
            </div>
            <div class="community-text-detail">
              <span>Maintainers:</span>
              <a href="#">Thanasis Polychronakis</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="community-entry community-entry-3">
          <header>
            <img src="http://photos3.meetupstatic.com/photos/event/1/6/e/6/highres_432125862.jpeg" alt="Community Image">
            <div class="community-img-overlay">
              <div class="community-title">
                Node.js
              </div>
              <div class="community-site">
                <a href="#">view website</a>
              </div>
            </div>
          </header>
          <div class="community-text">
            <p>
              Thessaloniki Node.js Meetup is an initiative to connect "Noders" across Thessaloniki in order to exchange ideas, knowledge and experience.
            </p>
            <div class="community-text-detail">
              <span>Meets:</span> Every 2 weeks
            </div>
            <div class="community-text-detail">
              <span>Maintainers:</span>
              <a href="#">Thanasis Polychronakis</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
