<div class="row no-gutter" id="communities">
	<div class="container communities-section section">
    <header>
      <div class="appellation">
        {% include index/icons/communities.html %}
        <div class="appellation-text">
          Communities
        </div>
      </div>
      <div class="create">
        Want to see your community here?
        <a href="#">Tell us more.</a>
      </div>
    </header>
    <div class="separator"></div>

    <div class="community-entries">

      {% for c in site.data.communities %}

      <div class="col-md-4">
        <div class="community-entry community-entry-0">
          <header>
            {% if c.image %}
            <img src="{{ c.image }}" alt="{{ c.name }}">
            {% else %}
            <img src="/assets/img/community_placeholder.jpeg" alt="{{ c.name }}">
            {% endif %}
            <div class="community-img-overlay">
              <div class="community-title">
                {{ c.name }}
              </div>
              {% if c.website %}
              <div class="community-site">
                <a href="{{ c.website }}">view website</a>
              </div>
              {% endif %}
            </div>
          </header>
          <div class="community-text">
            <p>
              {{ c.description }}
            </p>
            <div class="community-text-detail">
              <span>Meets:</span> {{ c.period }}
            </div>
            <div class="community-text-detail">
              <span>Maintainers:</span>
              <a href="mailto:{{ c.maintainers[0].email }}">
                {{ c.maintainers[0].name }}
              </a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>
