<div class="row">
  <div class="footer">
    <div class="social">
      <a href="https://www.facebook.com/skgtech.io">
        {% include index/icons/facebook.html %}
      </a>
      <a href="https://github.com/SKGTech">
        {% include index/icons/github.html %}
      </a>
      <a href="https://twitter.com/SKG_Tech">
        {% include index/icons/twitter.html %}
      </a>
    </div>
    <div class="notes">
      <div class="col-md-6">
        <p class="legal">
          © 2015 skgtech contributors, source under the MIT License.
          <br>
          The content property of their respective owners, the rest Creative Commons CC0.
        </p>
      </div>
      <div class="col-md-6">
        <p class="source">
          <a href="https://github.com/skgtech/skgtech.github.io">View source on Github and feel free to contribute</a>
        </p>
      </div>
    </div>
  </div>
</div>
