<div class="newsletter">
  <form id="mc-embedded-subscribe-form" class="form-inline" action="//datablaster.us2.list-manage.com/subscribe/post?u=249dbe460c3c1857a489dde05&amp;id=b926e92856" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="form-group form-group-lg">
      <div class="subscribe-form" id="mc_embed_signup_scroll" class="field">
        <div class="label">
          {% include index/icons/newsletter.html %}
          <label>STAY IN TOUCH</label>
        </div>
        <input placeholder="Enter your full name..." type="text" value="" name="MERGE1" class="required form-control type1" id="mce-NAME" />
        <input placeholder="Enter your email..." type="email" value="" name="EMAIL" class="required form-control type2" id="mce-EMAIL" />
        <button class="btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" data-complete-text="Woot!" data-loading-text="...">Go</button>
      </div>
    </div>
  </form>
</div>
<sub class="pull-right">We only send a few emails per year</sub>
