<div class="row">
  <div class="slack">
    <form class="form-inline slack-form" target="_blank" novalidate>
      <div class="form-group form-group-lg">
        <div id="mc_embed_signup_scroll" class="field">
          <div class="label">
            {% include index/icons/slack.html %}
            <label>JOIN OUR DISCUSSION ON SLACK</label>
          </div>
          <input placeholder="enter your email to receive an invitation..." type="email" value="" name="EMAIL" class="required form-control type2 slack-subscribe-email"/>
          <button class="btn slack-subscribe-button" type="button" value="Subscribe" name="subscribe" data-complete-text="Woot!" data-loading-text="...">Go</button>
        </div>
      </div>
    </form>
  </div>
</div>
