---
layout: default
---

<section class="row blog-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <article class="post single-post row" itemscope itemtype="http://schema.org/BlogPosting">
          <div class="row article-body">
            <div class="container">
              <div class="col-md-8 col-sm-12">
                <div class="post-content" itemprop="articleBody">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </article>

      </div>

    </div>
  </div>
</section>
