---
layout: default
---
<section class="row page-header">
  <div class="blog">
    <div class="container">
      <h4>Blog</h4>
    </div>
  </div>
</section>

<div class="page-wrapper row">

<section class="row blog-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <article class="post single-post row" itemscope itemtype="http://schema.org/BlogPosting">
          <div class="row article-body">
            <div class="container">
              <div class="col-md-12">
                <h3 class="post-title" itemprop="name headline">{{ page.title }}</h3>
                <ul class="post-meta nav">
                  <li><i class="fa fa-calendar-o"></i>
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                  </li>
                  <li><i class="fa fa-user"></i>Author: <a href="{{ site.authors[page.author].web }}">
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span itemprop="name">{{ site.authors[page.author].display_name }}</span></a>
                    </span>
                  </li>
                  <li><i class="fa fa-folder"></i>Category: {{ page.category }}</li>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="post-content" itemprop="articleBody">

                  {{ content }}

                </div>
              </div>
            </div>
          </div>
        </article>

      </div>

      <div class="col-md-4 post-sidebar">
        <div class="widget">
          <h4 class="widget-title">Tags</h4>
          <div class="tags">
            {% for tag in page.tags %}
              <span>{{ tag }}</span>
            {% endfor %}
          </div>
        </div>

        <div class="widget">
          <h4 class="widget-title">Latest posts</h4>
          <ul class="nav">
            {% for post in site.posts limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
