<!DOCTYPE HTML>
<html>

<head>
  <title>`Together` SKG Tech Event, 17 May 2017</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="We are Together is an afternoon gathering where local tech startups come together present their products and network. Following the presentations a bot themed panel discussion takes place. Are you joining the movement?"
  />
  <!--[if lte IE 8]><script src="/assets/wearetogether/assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/assets/wearetogether/assets/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="/assets/wearetogether/assets/css/ie8.css" /><![endif]-->
</head>

<body class="homepage">
  {{ content }}

  <!-- Scripts -->

  <script src="/assets/wearetogether/assets/js/jquery.min.js"></script>
  <script src="/assets/wearetogether/assets/js/jquery.dropotron.min.js"></script>
  <script src="/assets/wearetogether/assets/js/skel.min.js"></script>
  <script src="/assets/wearetogether/assets/js/skel-viewport.min.js"></script>
  <script src="/assets/wearetogether/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="/assets/wearetogether/assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="/assets/wearetogether/assets/js/main.js"></script>

</body>

</html>
