<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <title>Thessaloniki Tech Community</title>

    {% if page.og %}
      <meta property="fb:app_id" content="{{ site.og.app_id }}">
      <meta property="og:title" content="{% if page.og-title %}{{ page.og-title }}{% else %}{{ site.og.title }}{% endif %}">
      <meta property="og:site_name" content="{{ site.og.site_name }}">
      <meta property="og:url" content="{{ page.og-url }}">
      <meta property="og:description" content="{{ page.og-description }}">
      <meta property="og:image" content="{{ site.og.image }}">
      <meta property="og:type" content="website">
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="/assets/themes/twitter/css/styles.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/img/skgtech-logo.svg" height="40px" alt="SKGTech Logo"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/#agenda">Agenda</a></li>
            <li class="active"><a href="/#communities">Communities</a></li>
            <li class="active"><a href="/#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {{ content }}


    <footer class="footer-actual" id="f">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pull-left">
            <p>&copy; {{ site.time | date: '%Y' }} <a href="https://github.com/skgtech/skgtech.github.io/graphs/contributors">{{ site.author.name }}</a>, source under the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
            <p class="license">
              The content property of their respective owners, the rest <a target="_blank" href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0</a>.
            </p>
          </div>
          <div class="col-lg-4 pull-right">
            <p> <a href="{{ site.githubrepo }}">View the source of this site and contribute</a></p>
          </div>
        </div>
      </div>
    </footer>

    {% include JB/analytics %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/app.js"></script>
    <script type="text/javascript">
      // twitter
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      // Google+
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      // facebook
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=698696243515776";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
